In [1]:
%load_ext autoreload
%autoreload 2

import sys

# https://github.com/fzinfz/flask-DLT645
sys.path.append("/data/flask-DLT645/lib")

from read import *

from conf import *
# from conf_prod import *

In [2]:
devices = Meters(meter_list_str)
df_meters = devices.df
df_meters

             Tag
Addr
010128318569  表1
001522454104  表2

In [3]:
result = devices.read_meters(chn, level=2, verbose=0)

 ===== ['010128318569', '表1'] =====
{'功率-瞬时总有功': ('50.60', 'W'), '电能-组合有功总-当前': (0.71, 'kWh')}

 ===== ['001522454104', '表2'] =====
{'功率-瞬时总有功': ('0.00', 'W'), '电能-组合有功总-当前': (2.03, 'kWh')}

In [4]:
import copy
result_list = copy.deepcopy(result)

for k,v in result_list.items():
    v['Addr'] = k, ''

for m in result_list.values():
    for k in m.keys():
        m[k] = m[k][0]

df = pd.DataFrame(result_list.values()).set_index('Addr')
df = df_meters[['Tag']].merge(df, on='Addr')
df

             Tag 功率-瞬时总有功  电能-组合有功总-当前
Addr
010128318569  表1    50.60         0.71
001522454104  表2     0.00         2.03